#mainGallerie{
  font-family: "Futura";
  #imageTitle {
    margin-top: 100px;
    width: 100%;
  }
  #hrBottom {
    margin-top: 25px;
    margin-bottom: 100px;
    width: 100%;
    height: 2px;
    background-color: #000000;
  }
  #descriptionGallerie{
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    h1 {
      text-transform: uppercase;
      margin-bottom: 50px;
      margin-top: 50px;
      text-align: center;
      span {
        color: #f23341;
      }
    }
    article {
      margin-top: 10px;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
      line-height: 1.5;
    }
  }
}

#imagesGallerie {
  margin-bottom: 50px;
  .imgGroup {
    img {
      width: 15%;
      margin-top: -50px;
      margin-right: 10px;
      position: relative;
      z-index: 1;
      &:hover {
        opacity: 0.8;
        position: relative;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.5);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.5);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.5);
        transition: all 200ms ease-in;
        transform: scale(1.1);
        a {
          text-decoration: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .imgGroup{
    margin-bottom: 25px;
    margin-top: 25px;
  }
}