#mainInspiration {
  h1 {
    text-transform: uppercase;
    margin-top: 90px;
    margin-bottom: 50px;
    font-family: "Futura";
  }
  span {
    color: #f23341;
  }
  /* slider */
  .sliderInspiration {
    margin-top: 60px;
    width: 100%;
  }
  .slide_viewer {
    height: 500px;
    overflow: hidden;
    position: relative;
  }
  .slide_group {
    height: 100%;
    position: relative;
    width: 100%;
  }
  .slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .slide:first-child {
    display: block;
  }
  .slide:nth-of-type(1) {
    img {
      width: 100%;
    }
  }
  .slide:nth-of-type(2) {
    img {
      width: 100%;
    }
  }
  .slide:nth-of-type(3) {
    img {
      width: 100%;
    }
  }
  .sliderBtn {
    margin-bottom: 100px;
  }
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    margin-top: -50px;
  }
  a.slide_btn {
    text-decoration: none;
    color: #ff1155;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .slide_btn.active,
  .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
  }
  .directional_nav {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    top: -300px;
  }
  .nav-btn {
    height: 250px;
    width: 175px;
  }
  .previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
  }
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
  }
  .previous_btn,
  .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
  }
  .previous_btn:hover,
  .next_btn:hover {
    opacity: 1;
  }
  @media only screen and (max-width: 767px) {
    .directional_nav {
      top: -220px;
    }
    .sliderInspiration {
      margin-bottom: -400px;
    }
    .slide_buttons {
      display: none;
    }
    .slide_viewer {
      height: 400px;
      overflow: hidden;
      position: relative;
    }
    .nav-btn {
      height: 100px;
      width: 50px;
    }
    .previous_btn {
      left: 20px;
    }
    .next_btn {
      right: 20px;
    }
  }
  @media only screen and (max-width: 1279px) {
    .directional_nav {
      top: -250px;
    }
    .sliderInspiration {
      margin-bottom: -120px;
    }
    .slide_buttons {
      display: none;
     color : white; 
    }
    .slide_buttons {
      bottom: 475px;
    }
    .nav-btn {
      height: 200px;
      width: 100px;
    }
    .previous_btn {
      left: 20px;
    }
    .next_btn {
      right: 20px;
    }
  }
  p {
    font-family: "Futura";
    font-size: 20px;
  }
  p {
    font-family: "Futura";
    font-size: 20px;
  }
  p {
    font-family: "Futura";
    font-size: 20px;
  }
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bgimg-1 {
    background-image: url("../images/Alexander-Calder.jpg");
    min-height: 500px;
  }
  .bgimg-2 {
    background-image: url("../images/Niki%20de%20Saint%20Phalle.JPG");
    min-height: 500px;
  }
  .bgimg-3 {
    background-image: url("../images/pablo-picasso.jpg");
    min-height: 550px;
  }
  .caption {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
  }
  .caption1 {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: white;
  }
  .caption2 {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: white;
  }
  .caption strong.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .caption1 strong.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .caption2 strong.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 20px;
    letter-spacing: 2px;
  }
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
      background-attachment: scroll;
    }
  }
}