/* slider */
#mainGallerie .sliderGallerie {
  margin: 0 auto;
  width: 100%; }
  #mainGallerie .sliderGallerie img {
    width: 105%; }
#mainGallerie .slide_viewer {
  height: 500px;
  overflow: hidden;
  position: relative; }
#mainGallerie .slide_group {
  height: 100%;
  position: relative;
  width: 100%; }
#mainGallerie .slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%; }
#mainGallerie .slide:first-child {
  display: block; }
#mainGallerie .slide:nth-of-type(1) {
  background: #D7A151; }
#mainGallerie .slide:nth-of-type(2) {
  background: #F4E4CD; }
#mainGallerie .slide:nth-of-type(3) {
  background: #C75534; }
#mainGallerie .slide:nth-of-type(4) {
  background: #D1D1D4; }
#mainGallerie .slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center; }
#mainGallerie a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
#mainGallerie .slide_btn.active,
#mainGallerie .slide_btn:hover {
  color: #428CC6;
  cursor: pointer; }
#mainGallerie #hrTop {
  margin-bottom: 25px; }
#mainGallerie #hrBottom {
  margin-top: 50px;
  margin-bottom: 100px; }
#mainGallerie .descriptionGallerie {
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  #mainGallerie .descriptionGallerie h1 {
    text-transform: uppercase;
    color: #f23341; }
  #mainGallerie .descriptionGallerie article {
    margin-top: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 65%; }

#imagesGallerie .imgGroup img {
  width: 15%;
  margin-top: -50px;
  margin-right: 10px;
  position: relative;
  z-index: 1; }
  #imagesGallerie .imgGroup img:hover {
    opacity: 0.8;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.2); }
    #imagesGallerie .imgGroup img:hover h3 {
      visibility: visible; }
#imagesGallerie .imgGroup h3 {
  position: absolute;
  z-index: 2;
  display: inline-block;
  margin-left: 75px;
  visibility: hidden; }

/* end slider */
/* HEADER ACCUEIL */
#accueilHeader .header {
  border-bottom: solid 5px #E6C3C1;
  background-color: white;
  padding-top: 1px;
  /* to get full white background */ }

/* responsive */
#accueilHeader .topnav {
  overflow: hidden;
  background-color: #FFFFFF;
  margin-top: 30px; }
#accueilHeader .topnav a {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 21px;
  color: black; }
#accueilHeader .topnav a:hover {
  background-color: #FFFFFF; }
#accueilHeader .topnav .icon {
  display: none;
  color: black; }
@media screen and (max-width: 991px) {
  #accueilHeader .topnav a:not(:first-child) {
    display: none; }
  #accueilHeader .topnav a.icon {
    float: right;
    display: block; } }
@media screen and (max-width: 991px) {
  #accueilHeader .topnav {
    margin-top: 30px; }
  #accueilHeader .topnav a {
    display: none; }
  #accueilHeader .topnav.responsive {
    position: relative; }
  #accueilHeader .topnav.responsive .icon {
    position: absolute;
    top: 0;
    right: 0; }
  #accueilHeader .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; } }

/* HEADER OTHER PAGES */
/*responsive*/
.footer {
  margin-top: 30px;
  padding-bottom: 15px;
  background: #FFFFFF; }
  .footer h2 {
    display: inline-block;
    margin-right: 20%; }
  .footer .copyright {
    display: inline-block;
    margin-left: 8%; }
  .footer .copyrightName {
    display: inline-block;
    margin-left: 35px; }

.logoRS {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px; }
  .logoRS img {
    margin-right: 8px; }

#accueilHeader {
  position: relative;
  background-image: url(../images/rose.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-clip: border-box;
  border-bottom: #E6C3C1;
  padding-bottom: 440px; }
  #accueilHeader .logoAcceuil {
    width: 50%; }

#mainAccueil {
  margin-bottom: 100px; }
  #mainAccueil .photoDescription {
    margin-top: 50px;
    margin-bottom: 25px;
    width: 30%; }
  #mainAccueil .description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; }
    #mainAccueil .description article {
      margin: auto;
      text-align: left;
      width: 50%; }
  #mainAccueil .separation {
    width: 1000px;
    text-align: center; }
  #mainAccueil .informationsContact {
    margin-top: 25px;
    margin-bottom: 25px; }
    #mainAccueil .informationsContact strong {
      color: red; }
  @media screen and (max-width: 991px) {
    #mainAccueil .resumeLola {
      width: 100%; } }

a {
  text-decoration: none; }

/* responsive */
body {
  margin: 0;
  padding: 0;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
